.button {
  border: 1px solid grey;
  font-size: 36px;
  text-align: center;
  width: 60px;
  height: 60px;
  padding: 5px;
}

.button.fullwidth {
  width: auto;
}

.button.operation {
  background: red;
  color: white;
}
